<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>singsongsangsong_frontend.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01D0224762AAF39A73F39489D87E4AADD2CE3160</string>
				<key>dateExpires</key>
				<string>9/3/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D0224762AAF39A73F39489D87E4AADD2CE3160</string>
						<key>dateExpires</key>
						<string>9/3/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VAJ8TKRJ82</string>
						<key>name</key>
						<string>SO HYUN LIM</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VAJ8TKRJ82.org.reactjs.native.example.singsongsangsong-frontend</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VAJ8TKRJ82</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>singsongsangsong_frontend.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6a21bec6-75c9-4716-99c5-741c7f9c66c9</string>
				<key>dateExpires</key>
				<string>9/3/25</string>
				<key>name</key>
				<string>singsongsangsong_firebase</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VAJ8TKRJ82</string>
				<key>name</key>
				<string>SO HYUN LIM</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
